.Home{
    /* height: 37rem; */
    margin: 2rem auto ;
    display: flex;
    height: auto;
    width: 90%;
    background-color: aqua;
}
.homeContent{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    height: 22rem;
}
/* .personalInfo{
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
} */
.personalInfo div{
    margin-top: 1rem;
}
.greeting{
    font-size: 2rem;
    font-weight: 600;
}
#nameDiv{
    font-weight: 600;
    font-size: 2.3rem;
}
#name{
    font-size: 2.5rem;
    font-weight:700;
}
#nickName{
    font-size: 1.5rem;
    text-align: center;
    font-weight: 600;
}
.connect{
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}
.rollingText{
    font-size: 2rem;
    font-weight: 600;
}
.avatar{
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.avatar img{
    height: 30rem;
    object-fit:cover;
}
.connectText{
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: 700;
}

/* For Mobile View Only */
@media (min-width:250px)and (max-width:768px) {
    .Home{
        /* margin-top: 5rem; */
        display: flex;
        flex-direction: column-reverse;
        height: auto;
    }
    .homeContent{
        margin-top: 2rem;
        width: 80%;
        /* background-color: aqua; */
    }
    .greeting{
        font-size: 1.5rem;
    }
    #nameDiv{
        font-size: 2rem;
    }
    .rollingText{
        font-size: 1.5rem;
    }
    .coverImage{
        margin-top: 2rem;
    }
    .coverImage img{
        height: 15rem;
        object-fit: cover;
    }
    .connectText{
        margin-top: 1rem;
    }
    .connect{
        width: 90%;
        margin: 2rem auto;
    }
}