.colorCard{
  height: 15rem;
  width: 8rem;
  background-color: aqua;
  position: absolute;
  left: auto;
  right: 4rem;
  top: 10rem;
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: repeat(2,3rem);
  column-gap: 0.5rem;
  row-gap: 0rem;
  align-items:center;
  justify-content: center;
  /* animation: slide 1s ease-in normal forwards; */
}
.colorCard > div{
  height: 3rem;
  border-radius: 0.5rem;
  animation: zoom 0.2s normal forwards;
}

@keyframes zoom {
  0%  {
      transform: scale(0, 0);
  }
  25%  {
      transform: scale(0.25, 0.25);
  }
  75%  {
      transform: scale(0.75, 0.75);
  }
  
  100% {
      transform: scale(1, 1);
  }
}