.Home{
    margin-top: 5rem;
    font-family: 'Barlow Condensed';
    height: 37rem;
}
.home-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    height: 20rem;
}
.personal-info{
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.greeting{
    font-size: 2rem;
    font-weight: 600;
}
#name-div{
    font-weight: 600;
    font-size: 2.3rem;
}
#name{
    font-size: 2.5rem;
    font-weight:700;
}
#nick-name{
    font-size: 1.5rem;
    text-align: center;
    font-weight: 600;
}
.connect{
    display: flex;
}

.connect-link{
    margin-left: 1rem;
    width: 3rem;
    height: 3rem;
}
a{
    color: inherit;
}
.connect-link:hover{
    cursor: pointer;
}
.rolling-text{
    font-size: 2rem;
    font-weight: 600;
}