.certifications{
    margin-top: 10rem;
    font-family: "Barlow Condensed";
}
#certification-title{
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
}
.certificate-card{
    display: grid;
    margin: 2rem auto;
    width: 80%;
    justify-content: center;
    row-gap: 2rem;
    column-gap: 2rem;
}
@media (min-width:768px) {
    .certificate-card{
        grid-template-columns:repeat(3,30%);
    }
    
}
@media (min-width:300px) and (max-width:700px) {
    .certificate-card{
        grid-template-columns: repeat(2,40%);
    }

}