.certifications{
    margin-top: 5rem;
    font-family: "Barlow Condensed";
}
#certification-title{
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
}
.certificate-card{
    display: grid;
    margin: 2rem auto;
    width: 80%;
    justify-content: center;
    row-gap: 2rem;
    column-gap: 2rem;
    grid-template-columns:repeat(3,30%);
}
@media (max-width:768px) {
    .certificate-card{
        grid-template-columns: repeat(1,100%);
    }
    
}