.certifications{
    font-family: "Barlow Condensed";
}
#certification-title{
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
}
.certificate-card{
    display: flex;
    margin: 2rem auto;
    width: 90%;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;

    /* row-gap: 2rem; */
    /* column-gap: 2rem; */
    /* grid-template-columns:repeat(3,30%); */
    /* flex: 1 1 ; */
}
@media (max-width:768px) {
    .certificate-card{
        grid-template-columns: repeat(1,100%);
    }    
}