.certificate {
	height: 15rem;
	border: 2px solid purple;
	border-radius: 10px;
	min-width: 23rem;
}
.cert-image {
	border-radius: inherit;
	height: 8rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
.cert-image svg{
	height: 8rem;
	width: 8rem;
}
.cert-info{
	height: 7rem;
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
}
.overlay-link {
	height: 8rem;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
#overlay-text {
	font-size: 2rem;
	font-weight: 700;
}
@media (max-width: 768px) {
	.certificate {
		height: 13rem;
		min-width: 20rem;
		border-radius: 7px;
	}
	.cert-image {
		border-radius: inherit;
		height: 7rem;
	}
	.cert-info{
		height: 6rem;
	}
	.overlay-link {
		height: 7rem;
		border-top-left-radius: 7px;
		border-top-right-radius: 7px;
	}
}
.cert-body {
	border-radius: 0.5rem;
	text-align: center;
	font-weight: 800;
}

.cert-overlay {
	/* display: none; */
	position: relative;
}
.overlay-link {
	/* display: none; */
	opacity: 1;
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	/* transition: 0.5s ease-in-out; */
}
@keyframes move-in {
	0% {
		margin-top: -4rem;
		opacity: 0.5;
	}
	100% {
		margin-top: 0rem;
		opacity: 1;
	}
}
/* .cert-overlay:hover{
    opacity: 0.5;
} */
.cert-overlay:hover #overlay-text {
	animation: move-in 0.2s ease-in-out 1 normal forwards;
}
.cert-overlay:hover .overlay-link {
	background-color: rgba(77, 92, 211, 0.632);
	opacity: 1;
}
#overlay-text {
	opacity: 0;
}
