@media (min-width: 768px) {
	.certificate {
		height: 15rem;
	}
	.cert-image {
		border-radius: inherit;
		height: 8rem;
	}

	.cert-title {
		font-size: 2rem;
		margin-top: 0.5rem;
	}
	.instructor {
		font-size: 1.5rem;
		margin-top: 1rem;
	}
	.overlay-link {
		height: 8rem;
	}
	#overlay-text {
		font-size: 2rem;
		font-weight: 700;
	}
}
@media (max-width: 700px) {
	.certificate {
		height: 10rem;
	}
	.cert-image {
		border-radius: inherit;
		height: 5rem;
	}

	.cert-title {
		font-size: 1.5rem;
		margin-top: 0.5rem;
	}
	.instructor {
		font-size: 1.2rem;
		margin-top: 1rem;
	}
	.overlay-link {
		height: 5rem;
	}
	#overlay-text {
		font-size: 1.5rem;
		font-weight: 700;
	}
}
.cert-body {
	border-radius: 0.5rem;
	text-align: center;
	font-weight: 800;
}

.cert-overlay {
	/* display: none; */
	position: relative;
}
.overlay-link {
	/* display: none; */
	opacity: 1;
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	/* transition: 0.5s ease-in-out; */
}
@keyframes move-in {
	0% {
		margin-top: -1rem;
		opacity: 0.5;
	}
	100% {
		margin-top: 0rem;
		opacity: 2;
	}
}
/* .cert-overlay:hover{
    opacity: 0.5;
} */
.cert-overlay:hover #overlay-text {
	animation: move-in 0.5s ease-in-out 1 normal forwards;
}
.cert-overlay:hover .overlay-link{
	background-color: gray;
	opacity: 0.7;
}
#overlay-text {
	opacity: 0;
	text-decoration: none;
	/* border: 2px solid; */
	padding: 5px 10px;
	border-radius: 5px;
	margin: 0rem auto;
}
